# Домашняя работа №2 (Курс "Advanced Python", 2 семестр)
## ФИО: Волков Сергей Андреевич

**Тема:** SQL  
**Выдана:** 18 марта 2021  
**Мягкий дедлайн:** 25 марта 2021  
**Жесткий дедлайн:** 1 апреля 2021

**Правила:**
Результат выполнения задания - отчет в формате Jupyter Notebook с кодом и выводами. В ходе выполнения задания требуется реализовать все необходимые алгоритмы, провести эксперименты и ответить на поставленные вопросы. Дополнительные выводы приветствуются. Чем меньше кода и больше комментариев - тем лучше.

Все ячейки должны быть "выполненными", при этом результат должен воспроизвдиться при проверке.

Задание выполняется самостоятельно. **Если вы нашли в Интернете какой-то код, который собираетесь заимствовать, обязательно укажите это в задании.** Если вы советовались с товарищем и/или позаимствовали его решение, обязательно укажите об этом в отчете. Нет ничего плохого в том, что вы пытаетесь разобраться и помогаете друг другу; плохо - когда вы скрываете это и выдаете чужие заслуги за свои. При обнаружении списывания ВСЕМ студентам, имеющим одинаковые списанные решения будет выставлен ОТРИЦАТЕЛЬНЫЙ балл (т.е если задача стоит 4 балла, вы получите не 0, а -4), "оригинал" искаться не будет

Задание, сданное после жесткого дедлайна, не принимается.

## Задание: selectы sql (13 баллов)
Вам предстоит написать несколько Sql запросов к имеющейся базе данных, описывающую King Corporation. Структура базы данных приведена ниже:
![Структура базы данных](scheme.gif "Структура базы данных")

Также,  [здесь](./Таблицы.docx) вы можете посмотреть типы данных столбцов, их смысл, а также sql запросы, которыми можно инициализировать БД такой структуры.

1. Инициализируйте и заполните базу данных, выполнив скрипт [init.sql](./init.sql) **1 балл**  

2. Вставьте в параметр ниже номер вашего варианта и исполните следующие ячейки. Вы получите условия задач вашего варианта. **Каждая задача стоит 4 балла.** Задачи необходимо решить прямо из python при помощи библиотеки sqllite, но если у вас возникли проблемы с использованием sql из python, вы можете просто приложить работающий sql запрос, он будет оценен максимум в 3 балла

In [1]:
MY_VARIANT = 5 #измените этот параметр на номер своего варианта

In [2]:
#Не меняйте эти параметры
TASKS_TO_DO = 3
TOTAL_TASKS = 4

In [3]:
def get_tasks(variant):
    try:
        with open("tasks.txt", encoding="utf8") as tasks:
            for i in range(variant):
                for j in range(TOTAL_TASKS + 1):
                    tasks.readline()
            print(f"Задачи варианта {tasks.readline()}")
            for i in range(TASKS_TO_DO):
                print(i+1, tasks.readline(), end="")
    except:
        print("Что-то пошло не так. Убедитесь, что в текущей рабочей папке"
              " лежит файл tasks.txt и что вы задаете корректный номер варианта")

In [4]:
#выполнение этой функции выведет условия ваших задач. Убедитесь, что вы подгрузили задачи вашего варианта
get_tasks(MY_VARIANT)

Задачи варианта 5

1 Выбрать фамилии тех сотрудников, которые обслуживают покупателей, не являясь продавцами (должность - не 'SALESPERSON')
2 Выбрать названия тех товаров, в названии которых есть слово 'BALL' и для которых цена не изменилась с осени 1987г.
3 Определить общую сумму сделок, заключенных в 1989г. отделом, которым руководит 'BAKER'.

### Полезные материалы: 
1. В качестве справки рекомендую читать официальную документацию к Sql от  Microsoft, а также https://professorweb.ru/my/sql-server/2012/level1/ (пункты 2.9, 2.10 будут вам особенно полезны)
2. Также, множество примеров приведены [в файле](./SQL_examples.html). 

Приступайте к написанию sql запросов.

In [5]:
import sqlite3

In [6]:
#инициализация базы данных скриптом
with sqlite3.connect('KingCorp.db') as conn:
    c = conn.cursor()
    with open('init.sql') as sql_file:
        c.executescript(sql_file.read())

In [7]:
def query(db: str, sql_query: str):
    with sqlite3.connect(db) as conn:
        c = conn.cursor()
        c.execute(sql_query)
    return c.fetchall()

# Задача 1

Проверим для начала, кто вообще продает товары покупателям:

In [8]:
print(*query(
    'KingCorp.db', 
    '''
    SELECT function FROM JOB 
    WHERE
        job_id = (
        SELECT DISTINCT job_id 
        FROM EMPLOYEE JOIN CUSTOMER 
        ON EMPLOYEE.employee_id = CUSTOMER.salesperson_id
        )
    '''
), sep='\n')

('SALESPERSON',)

In [9]:
print(*query(
    'KingCorp.db', 
    '''
    SELECT DISTINCT job_id FROM EMPLOYEE JOIN CUSTOMER
    ON EMPLOYEE.employee_id = CUSTOMER.salesperson_id
    '''
), sep='\n')

(670,)

Уже тут понятно, что продают товары только продавцы, но напишем команду для выбора фамилий не продавцов...

In [10]:
print(*query(
    'KingCorp.db',
    '''
    SELECT last_name FROM EMPLOYEE
    WHERE 
        (
        job_id = (SELECT job_id FROM JOB WHERE function != 'SALESPERSON')
        ) 
    AND
        (
        employee_id = (SELECT salesperson_id FROM CUSTOMER)
        )
    '''
), sep='\n')

В общем нет не продавцов в табличке CUSTOMER.

# Задача 2

Посмотрим, какие товары со словом BALL бывают:

In [60]:
print(*query(
    'KingCorp.db',
    '''
    SELECT * FROM PRODUCT
    WHERE
    INSTR(description, 'BALL') != 0
    '''
), sep='\n')

(100870, 'ACE TENNIS BALLS-3 PACK')
(100871, 'ACE TENNIS BALLS-6 PACK')
(102132, 'RH: "GUIDE TO SOFTBALL"')
(102134, 'RH: "GUIDE TO BASKETBALL"')
(103120, 'WIFF SOFTBALL BAT I')
(103121, 'WIFF SOFTBALL BAT II')
(103130, 'WIFF SOFTBALL, SMALL')
(103131, 'WIFF SOFTBALL, LARGE')
(103140, 'WIFF SOFTBALL MITT (LH)')
(103141, 'WIFF SOFTBALL MITT (RH)')
(104350, 'DUNK BASKETBALL INDOOR')
(104351, 'DUNK BASKETBALL OUTDOOR')
(104352, 'DUNK BASKETBALL PROFESSIONAL')

Теперь поймем, как выявить, цена каких из них не изменилась с осени 1987 года (с 01/09/1987). Это означает, что `end_date` у них должен быть меньше этой даты.

In [94]:
print(*query(
    'KingCorp.db',
    '''
    SELECT DISTINCT product_id
    FROM PRICE
    WHERE end_date < DATE('1987-09-01')
    '''  # такое странное сравнение, т.к. только в таком формате SQL воспринимает дату
))

(100870,) (100871,)

Теперь объединим эти два множества:

In [100]:
print(*query(
    'KingCorp.db',
    '''
    SELECT description FROM PRODUCT
    WHERE
    product_id IN
    (   
        SELECT product_id FROM PRODUCT
        WHERE
        INSTR(description, 'BALL') != 0
    INTERSECT
        SELECT DISTINCT product_id FROM PRICE
        WHERE
        end_date < DATE('1987-09-01')
    )
    '''
), sep='\n')

('ACE TENNIS BALLS-3 PACK',)
('ACE TENNIS BALLS-6 PACK',)

# Задача 3

Посмотрим, кто работает под началом человека с фамилией BAKER (включая его самого):

In [15]:
print(*query(
    'KingCorp.db', 
    '''
    SELECT * FROM EMPLOYEE
    WHERE
        (
        manager_id = (SELECT employee_id FROM EMPLOYEE WHERE last_name = 'BAKER')
        )
    OR
        (
        employee_id = (SELECT employee_id FROM EMPLOYEE WHERE last_name = 'BAKER')
        )
    '''
), sep='\n')

(7507, 'BAKER', 'LESLIE', 'D', 7839, 671, '10/06/1985', 2200, None, 14)
(7609, 'LEWIS', 'RICHARD', 'M', 7507, 668, '16/04/1985', 1800, None, 24)
(7676, 'SOMMERS', 'DENISE', 'D', 7507, 668, '19/04/1985', 1850, None, 34)

Можно заметить, что никто из этих людей не является SALESPERSON (job_id = 670), а значит они не могли заключить какую-то сделку...

Выберем id клиентов этих людей (они могут пересекаться, поэтому берем `DISTINCT`):

In [16]:
print(*query(
    'KingCorp.db', 
    '''
    SELECT DISTINCT customer_id FROM CUSTOMER
    WHERE
    salesperson_id = 
    (
        SELECT employee_id FROM EMPLOYEE
        WHERE
            (
            manager_id = (SELECT employee_id FROM EMPLOYEE WHERE last_name = 'BAKER')
            )
        OR
            (
            employee_id = (SELECT employee_id FROM EMPLOYEE WHERE last_name = 'BAKER')
            )
    )
    '''
), sep='\n')

Ожидаемо, их нет...

Выберем cуммы покупок этих клиентов за 1989 год:

In [17]:
print(*query(
    'KingCorp.db', 
    '''
    SELECT total FROM SALES_ORDER
    WHERE 
        customer_id =
        (
            SELECT DISTINCT customer_id FROM CUSTOMER
            WHERE
            salesperson_id = 
            (
                SELECT employee_id FROM EMPLOYEE
                WHERE
                    (
                    manager_id = (SELECT employee_id FROM EMPLOYEE WHERE last_name = 'BAKER')
                    )
                OR
                    (
                    employee_id = (SELECT employee_id FROM EMPLOYEE WHERE last_name = 'BAKER')
                    )
            )
        )
    AND
        SUBSTR(order_date, 7, 4) = '1989'
    '''
), sep='\n')

И последний штрих: будем суммировать общие суммы договоров (насколько я понимаю, здесь нельзя учесть, что клиент мог сделать покупку у другого продавца, так устроена сама БД).

In [18]:
print(*query(
    'KingCorp.db', 
    '''
    SELECT SUM(total) FROM SALES_ORDER
    WHERE 
        customer_id =
        (
            SELECT DISTINCT customer_id FROM CUSTOMER
            WHERE
            salesperson_id = 
            (
                SELECT employee_id FROM EMPLOYEE
                WHERE
                    (
                    manager_id = (SELECT employee_id FROM EMPLOYEE WHERE last_name = 'BAKER')
                    )
                OR
                    (
                    employee_id = (SELECT employee_id FROM EMPLOYEE WHERE last_name = 'BAKER')
                    )
            )
        )
    AND
        SUBSTR(order_date, 7, 4) = '1989'
    '''
), sep='\n')

(None,)

Видим, что ответ был выдан `None`, т.к. нечего суммировать.